<div class="row-fluid">
<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="span4 offset4">

  <div class="actions">
	<%= collection_select(:listing, :category_id, Category.all, :id, :name, { :prompt => true }) %><br>
	First Name<br>
	<%= f.text_field :first_name %><br>
	Last Name<br>
	<%= f.text_field :last_name %><br>
	Company<br>
	<%= f.text_field :company %><br>
	Industry<br>
	<%= f.text_field :industry %><br>
	Phone<br>
	<%= f.text_field :phone %><br>
	Website<br>
	<%= f.text_field :website %><br>
	Address 1 <br>
	<%= f.text_field :address1 %><br>
	Address 2 <br>
	<%= f.text_field :address2 %><br>
	City <br>
	<%= f.text_field :city %><br>
	State <br>
	<%= f.text_field :state %><br>
	Zip <br>
	<%= f.text_field :zip_code %><br>
	Discount in Spanish<br>
	<%= f.text_area :discount %><br>
	Discount in English<br>
	<%= f.text_area :discount_english %><br>


    <%= f.submit %>
  </div>

</div>
<% end %>
</div>