<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
	First Name<br>
	<%= f.text_field :first_name %><br>
	Last Name<br>
	<%= f.text_field :last_name %><br>
	Company<br>
	<%= f.text_field :company %><br>
	Phone<br>
	<%= f.text_field :phone %><br>
	Discount<br>
	<%= f.text_area :discount %><br>
	Category ID<br>
	<%= f.text_field :category_id %><br>
    <%= f.submit %>
  </div>
<% end %>
