

<div class="row-fluid">


<div class="row-fluid no-space">
	<div class="span12">

		<div class="category-list">
			<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>

			<div class="span3">
			<div class="category-each">
			<%= link_to category,:class => "category-each-button" do %>
			<%= category.name.upcase %>
			</div>
			</div>
			<% end %>
			<% end %>

		</div>

	</div>
	</div>


<div class="row-fluid no-space">
	
		<div class="span3">
			<div class="box-1-show-left">
				</div>
		</div>
		
			<div class="span6">
				<div class="box-1-show">
					<%= search_form_for @search do |f| %>
					<div class="search-bar">
						<%= f.text_field :company_or_industry_or_first_name_or_last_name_cont, :class=> "search-css", :placeholder => "Search" %>
					</div>
					<div class="actions"<%= f.submit %> </div>	
					<% end %>
				</div>	
			</div>
		
		<div class="span3">
			<div class="box-1-show-left">
				</div>
		</div>		
</div>
		
<div class="row-fluid no-space">
		
<div class="span3">	

</div>	

<div class="span6">
	<div class="row-fluid">
	<div class="industry-badge-show">
	<%= @listing.industry.upcase %>
	</div>
	</div>
	
			<div id="listing-list-show">
					
					<div class="row-fluid">
						
						<div class="span6">
					
							<div id="listing-name-css">
								<div id="listing-company-css">
							<%= @listing.company %><br>
							</div>
					<%= @listing.first_name %> <%= @listing.last_name %> 			
					<br>
					</div>
						<%= @listing.address1 %><br>
						<%= @listing.address2 %><br>
						<%= @listing.city %> <%= @listing.state %> <%= @listing.zip_code%>
						<br>
						<%= number_to_phone(@listing.phone, area_code: true) %>
						<br>
						<%= link_to "Website", "#{@listing.website}"%><br>
						
							<%= link_to 'Edit', edit_listing_path %> 
					
						</div>
						
						<div class="span6">
							<div class="discount-wrapper">
							<div class="discount-text-spanish">
							<%= @listing.discount %>
							</div>
							<div class="discount-text-english">
							<%= @listing.discount_english %>
							</div>
							</div>
							<a href="#" onclick="window.print();return false;">Print me</a> 
						</div>
							
						</div>
						
			</div>
		
		

				
				
			
</div>


<div class="span3">

	</div>
	
</div>


	
</div>


<%= link_to 'New Listing', new_listing_path %>



