<div class="banner">
	<div class="row-fluid">
	<div class="span4 offset4">
	<div class="signin-form">
	<h3>SIGN IN</h3>

	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<div class="devise-error-messages">

	<% @user.errors.each do |attr, msg| %>
	  <%= "#{attr} #{msg}"  %> <br>
	<% end %>

	</div>


	<form>

	    <fieldset>

				  <div><%= f.label :email %>
				  <%= f.email_field :email, :placeholder => "Email" %></div>

				  <div><%= f.label :password %>
				  <%= f.password_field :password, :placeholder => "Password" %></div>

				<button type="submit" class="pure-button pure-button-primary">Submit</button><br><br>
					<%= render "devise/shared/links" %>
	    </fieldset>


	<% end %>



	</form>

	</div>
	</div>
	</div>
	
  
</div>