

<div class="row-fluid">
<div class="span12">
	

<div class="row-fluid no-space">
<div class="span12">

	<div class="category-list">
		<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>
		
		<div class="span3">
		<div class="category-each">
		<%= link_to category,:class => "category-each-button" do %>
		<%= category.name.upcase %>
		</div>
		</div>
		<% end %>
		<% end %>
		
	</div>

</div>
</div>

<div class="row-fluid no-space">
	
		<div class="span3">
			<div class="box-1-show-left">
				</div>
		</div>
		
		<div class="span6">
			<div class="box-1-show">
				<%= search_form_for @search do |f| %>
				<div class="search-bar">
									<%= f.text_field :company_or_industry_or_first_name_or_last_name_cont, :class=> "search-css", :placeholder => "Search" %>
				</div>
				<div class="actions"<%= f.submit %> </div>	
				<% end %>
			</div>	
		</div>
		
		<div class="span3">
			<div class="box-1-show-left">
				</div>
		</div>		
</div>

<div class="row-fluid no-space">
	<div class="wrapper-box">
		

		<div class="span8 offset3">	
			<div class="logo-name">
				<center>
				Descuentas y Promociones<br>
				para nuestros miembros
				</center>
			</div>		
		</div>	
	

	</div>

</div>

<div class="row-fluid">
	<div class="span12">
		<div class="black-box">
			<div class="span3 offset3">
				<div class="white-box">
					<%= link_to listing_path(22), :class => "discount-css" do %>
					<div class="discount">
						40% Descuento
					<div class="discount-subheading">
						En Todos Los Marcos De Disenadores
					</div>
					</div>
					<% end %>	
				</div>
			</div>		
				<div class="span5">
				<div class="designer-glasses">
					<%= image_tag("sunglass.png")%>
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>	
</div>	

<div class="row-fluid">
<div class="span12">

</div>
</div>	

<div class="row-fluid">
<div class="span12">
	<div class="span4">
		<div class="chips-salsa">
			<%= link_to listing_path(24) do %>
			<%= image_tag("chips.jpg") %>
			<% end %>
		</div>	
	</div>	
	
	<div class="span4">
	<div class="box-middle">
		<div class="box-middle-image">
			<%= link_to listing_path(10) do %>
			<%= image_tag("taxes.jpg")%>
			<% end %>
		</div>
	</div>		
	</div>
	
		<div class="span3">
		<div class="box-right">
			
							<%= link_to category_path(16), :class=> "box-right4" do %>
							<%= "Compras".upcase %>
							<% end %>
							
							<%= link_to category_path(13), :class=> "box-right1" do %>
							<%= "Profesionales".upcase %>
							<% end %>
							
							<%= link_to category_path(14), :class=> "box-right2" do %>
							<%= "Restaurantes".upcase %>
							<% end %>
							
							<%= link_to category_path(15), :class=> "box-right3" do %>
							<%= "Servicios".upcase %>
							<% end %>
							
			<div class="box-middle-line">	
		</div>
		</div>
		</div>
	
</div>
</div>



</div>
</div>

