

<div class="row-fluid">
<div class="span12">
	

<div class="row-fluid no-space">
<div class="span12">

	<div class="category-list">
		<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>
		
		<div class="span3">
		<div class="category-each">
		<%= link_to category,:class => "category-each-button" do %>
		<%= category.name.upcase %>
		</div>
		</div>
		<% end %>
		<% end %>
		
	</div>

</div>
</div>

<div class="row-fluid no-space">
	<div class="span10">
	<div class="wrapper-box">
		
		<div class="row-fluid">
				<center><h1>MEMBERSHIP INSIDER:</h1></center>
		</div>
		

		<div class="row-fluid">
				<div class="wrapper-box-subheading">
					<center><h2>DEALS OF THE MONTH</h2></center>
				</div>
		</div>
		
	</div>	
	</div>
	
	<div class="span2">
		<%= link_to new_user_registration_path do %>
		<div class="signup-background">
			<div class="signup-box">
				Sign up!
				<div class="signup-box-bottomtext">
				IT'S FREE
				</div>
			</div>
		</div>
		<% end %>
	</div>
</div>

<div class="row-fluid">
	<div class="span12">
		<div class="black-box">
			<div class="span3 offset2">
				<div class="white-box">
					<div class="discount">
						40% OFF
					</div>
				</div>
			</div>		
				<div class="span5">
				<div class="designer-glasses">
					<%= image_tag("sunglass.png")%>
				</div>
				</div>
			</div>
		</div>
		</div>
</div>	

<div class="row-fluid">
<div class="span12">

</div>
</div>	

<div class="row-fluid">
<div class="span12">
	<div class="span4">
		<div class="chips-salsa">
			<%= image_tag("chips.jpg")%>
		</div>	
	</div>	
	
	<div class="span4">
	<div class="box-middle">
		<div class="box-middle-image">
			<%= image_tag("taxes.jpg")%>
		</div>
	</div>		
	</div>
	
		<div class="span4">
		<div class="box-right">
								<center><h2>Coupons</h2></center>
								<center><h2>Discounts</h2></center>
								<center><h2>Sample Sales</h2></center>
								<center><h2>Wholesale</h2></center>
								<center><h2>FREE</h2></center>
								
			<div class="box-middle-line">	
		</div>
		</div>
		</div>
	
</div>
</div>



</div>
</div>

