

<div class="row-fluid">
<div class="span12">
	

<div class="row-fluid no-space">
<div class="span12">

	<div class="category-list">
		<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>
		
		<div class="span3">
		<div class="category-each">
		<%= link_to category,:class => "category-each-button" do %>
		<%= category.name.upcase %>
		</div>
		</div>
		<% end %>
		<% end %>
		
	</div>

</div>
</div>

<div class="row-fluid no-space">
	<div class="wrapper-box">
		
		<div class="span1">
			</div>
	
	
	<div class="span3">
		
		<% if user_signed_in? %>
		<div class="signup-background">
			<div class="signup-box-signedin">
				Hola <%= current_user.firstname.capitalize %>!
			</div>
		</div>
		<% else %>
		<%= link_to new_user_registration_path do %>
		<div class="signup-background">
			<div class="signup-box">
				Sign up!
				<div class="signup-box-bottomtext">
				IT'S FREE
				</div>
			</div>
		</div>
		<% end %>
		<% end %>
	</div>
	
	<div class="span8">	
		<div class="logo-name">
			Member Deals & Discounts
		</div>		
	</div>	
	

	

</div>

<div class="row-fluid">
	<div class="span12">
		<div class="black-box">
			<div class="span3 offset2">
				<div class="white-box">
					<div class="discount">
						40% OFF
					</div>
				</div>
			</div>		
				<div class="span5">
				<div class="designer-glasses">
					<%= image_tag("sunglass.png")%>
				</div>
				</div>
			</div>
		</div>
		</div>
	</div>	
</div>	

<div class="row-fluid">
<div class="span12">

</div>
</div>	

<div class="row-fluid">
<div class="span12">
	<div class="span4">
		<div class="chips-salsa">
			<%= link_to category_path(14) do %>
			<%= image_tag("chips.jpg") %>
			<% end %>
		</div>	
	</div>	
	
	<div class="span4">
	<div class="box-middle">
		<div class="box-middle-image">
			<%= link_to category_path(13) do %>
			<%= image_tag("taxes.jpg")%>
			<% end %>
		</div>
	</div>		
	</div>
	
		<div class="span3">
		<div class="box-right">
							<%= link_to category_path(13), :class=> "box-right1" do %>
							<%= "Professionals".upcase %>
							<% end %>
							
							<%= link_to category_path(14), :class=> "box-right2" do %>
							<%= "Restaurants".upcase %>
							<% end %>
							
							<%= link_to category_path(15), :class=> "box-right3" do %>
							<%= "Services".upcase %>
							<% end %>
							
							<%= link_to category_path(16), :class=> "box-right4" do %>
							<%= "Shopping".upcase %>
							<% end %>
							
			<div class="box-middle-line">	
		</div>
		</div>
		</div>
	
</div>
</div>



</div>
</div>

