
<div class="row-fluid">


	<div class="row-fluid no-space">
	<div class="span12">

		<div class="category-list">
				<div class="span4 offset2">	


				<div class="box-1-show">
								<%= search_form_for @search, url: area_listings_path(1) do |f| %>
								<div class="search-bar">
									<%= f.text_field :company_or_industry_or_first_name_or_last_name_or_zip_code_cont, :class=> "search-css", :placeholder => "Search" %>
								</div>
								<div class="actions"<%= f.submit %> </div>	
								<% end %>
							</div>
				</div>				

				<div class="span4">	
							<div class="box-1-show">
									<%= search_form_for @search, url: area_listings_path(1) do |f| %>
									<div class="search-bar">
										<%= text_field_tag :search, params[:search], :class=> "search-css", :placeholder => "Location" %>
									</div>
									<div class="actions"<%= f.submit %> </div>	
									<% end %>
								</div>				
				</div>					


		</div>

	</div>
	</div>
	
<div class="row-fluid no-space">

		<div class="span2">	
			<div class="industry-box-wrapper">
			<div class="industry-box-top">
			</div>	

		

			<div class="industry-box-bottom">
					<div class="row-fluid">
						<div class="category-listing">
						<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>
							<div class="span12">
							<%= link_to category, :class => "category-listing-link" do %> 
							<%= category.name  %>
							<% end %>
							</div>
						<% end%>

					    </div>
				    </div>	
			</div>	
			</div>
		</div>	
		

<div class="span4">
	<div class="row-fluid">
	<div class="category-show-headline">
	<%= @category.name %> in Nueva York
	</div>
	</div>
	
	<% @grouped_listing.each do |category, listings| %>
	
	<div class="row-fluid">
	<div class="industry-badge-show">
 	<%= category %> 
	</div>
	</div>
	
		<% listings.each do |listing| %>
	
			<div id="listing-list-show">
					
					<div class="row-fluid">
						
						<div class="span12">
					
							<div id="listing-name-css">
								<div id="listing-company-css">
							<%= link_to area_listing_path(listing.area_id,listing), :class =>"listing-company-css" do %>		
							<%= listing.company %><br>
							<% end %>
							</div>
					
					</div>
						<% if !listing.address1.blank? -%>
					 	<%= listing.address1 %><br>
						<% end %>
						<% if !listing.address2.blank? -%>
						<%= listing.address2 %><br>
						<% end %>
						<% if !listing.city.blank? -%>
						<%= listing.city  %>
						<% end %> 
						<% if !listing.state.blank? -%>
						<%= listing.state  %>
						<% end %>  
						<%= listing.zip_code %><br>
						<% if !listing.phone.blank? -%>
						<%= number_to_phone(listing.phone, area_code: true) %><br>
						<% end %>  
						<% if !listing.website.blank? -%>
						<%= link_to listing.website.sub(/^https?\:\/\//, '').sub(/^www./,''), "#{listing.website}"%><br>
						<% end %>  

						</div>
					
						
					
							
						</div>
						
			</div>
		
		
		<% end %>
			<% end %>				
				
			
</div>


<div class="span4">

	</div>
	
</div>


	
</div>