<div class="banner">
    <h1 class="banner-head">
		<%= @category.name %>
    </h1>
</div>


<div class="row-fluid">
<div class="span12">
	


<div class="row-fluid">
<div class="span4">

	<div class="category-list-show">
		<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>
	
		<div class="category-each">
		<%= link_to category,:class => "category-each-button" do %><br>
		<%= category.name %>
		</div>
		<% end %>
		<% end %>
		
	</div>

</div>

<div class="span6">
	<% @category.listings.each do |listing| %>
	<div class="image-css">
	<%= image_tag listing.img_url %>
	</div>
	<% end %>
	<br>
	
</div>

</div>

</div>
</div>


<%= link_to 'New Category', new_category_path %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
