
<div class="row-fluid">
<div class="span12">
	


	<div class="row-fluid">
	<div class="span12">

		<div class="category-list">
			<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>

			<div class="span3">
			<div class="category-each">
			<%= link_to category,:class => "category-each-button" do %>
			<%= category.name.upcase %>
			</div>
			</div>
			<% end %>
			<% end %>

		</div>

	</div>
	</div>


		
<div class="row-fluid">
<div class="span6">
			
			<% @category.listings.each do |listing| %>
			<div class="listing-list-show">
				<div id="listing-name-css">
				<%= link_to listing.first_name + " " + listing.last_name, category_listing_path(@category,listing) %><br>
				</div>
				<div id="listing-company-css">
				<%= listing.company %><br>
				</div>
				<%= listing.phone %><br>
				<%= listing.website %>
		
			</div>
				<% end %>
			
</div>


	
<div class="row-fluid">
<div class="span4">



</div>



</div>
</div>


<%= link_to 'New Category', new_category_path %>
<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
