
<div class="row-fluid">


<div class="row-fluid no-space">
	<div class="span12">

		<div class="category-list">
			<% @categories.sort { |a,b| a.name <=> b.name }.each do |category| %>

			<div class="span3">
			<div class="category-each">
			<%= link_to category,:class => "category-each-button" do %>
			<%= category.name.upcase %>
			</div>
			</div>
			<% end %>
			<% end %>

		</div>

	</div>
	</div>


<div class="row-fluid no-space">
	
		<div class="span3">
			<div class="box-1-show-left">
				</div>
		</div>
		
		<div class="span6">
			<div class="box-1-show">
			</div>	
		</div>
		
		<div class="span3">
			<div class="box-1-show-left">
				</div>
		</div>		
</div>
		
<div class="row-fluid no-space">
		
<div class="span3">	

</div>	

<div class="span6">
	
		<% @category.listings.sort { |a,b| a.company <=> b.company }.each do |listing| %>
			<div id="listing-list-show">
					
					<div class="row-fluid">
						
						<div class="span6">
					
							<div id="listing-name-css">
								<div class="industry-badge-show">
								<%= listing.industry.upcase %>
								</div>
								<br><br>
								<div id="listing-company-css">
							<%= listing.company %><br>
							</div>
					<%= listing.first_name %> <%= listing.last_name %> 			
					<br>
					</div>
						<%= listing.phone %><br>
						<%= listing.website %>
						<%= link_to 'Edit', edit_listing_path(listing) %> 
						</div>
						
						<div class="span6">
							<div class="discount-wrapper">
							<div class="discount-text">
							<%= listing.discount %>
							</div>
							</div>
						</div>
							
						</div>
						
			</div>
		
		
		<% end %>
						
				
			
</div>


<div class="span3">

	</div>
	
</div>


	
</div>



<%= link_to 'New Listing', new_listing_path %>|
<%= link_to 'Back', categories_path %>
