<!DOCTYPE html>
<html>
<head>
  <title>El Punto Network</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>	
   <p class="notice"><%= notice %></p>
	
	<div class="pure-menu pure-menu-open pure-menu-horizontal">
	    <li class="pure-menu-heading"><%= link_to root_path, :class=> "brand-css" do %>
										<%= "El Punto Network" %>
										<% end %></li>
	
		  <ul>
		        <li class="pure-menu-selected"><%= link_to "Home", root_path %></li>
		        <li class="pure-menu-selected"><%= link_to "Contact us", home_contactus_path %></li>
				<li class="pure-menu-selected"><%= link_to "Directory", categories_path %></li>
		
		    </ul>
		</div>
		
<%= yield %>

</body>
</html>
