<!DOCTYPE html>
<html>
<head>
  <title>El Punto Network</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	
   <p class="notice"><%= notice %></p>
	
	<div class="pure-menu pure-menu-open pure-menu-horizontal">
	    <a href="#" class="pure-menu-heading">El Punto Network</a>
	
		  <ul>
		        <li class="pure-menu-selected"><%= link_to "Home", root_path %></li>
		        <li><a href="#">Contact us</a></li>
		    </ul>
		</div>
		
<%= yield %>

</body>
</html>
